<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>651713686930-k3fu4oi862b8ndp0v428kdh2nnjniqei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651713686930-k3fu4oi862b8ndp0v428kdh2nnjniqei</string>
	<key>API_KEY</key>
	<string>AIzaSyDr9UoqDatjxIeKuLxsck6CwrBKkBo_ao8</string>
	<key>GCM_SENDER_ID</key>
	<string>651713686930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>poncikapps.Check-in-Me</string>
	<key>PROJECT_ID</key>
	<string>check-in-me</string>
	<key>STORAGE_BUCKET</key>
	<string>check-in-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:651713686930:ios:4b8ba7b151efdbbb</string>
	<key>DATABASE_URL</key>
	<string>https://check-in-me.firebaseio.com</string>
</dict>
</plist>